* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 14px;
}

body, h1, h2, h3, h3, h5 {
  font-family: "Hero", Times, serif;
}

.huge_title {
  font-size: 30px;
}

a:visited {
  color: #fff;
}

@font-face {
  font-family: "Hero";
  src: url("../../fonts/Hero.otf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@keyframes expand {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(4);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
.button_check {
  box-shadow: 0 0 20px grey;
  border-radius: 50px;
  height: 50px;
  width: 230px;
  color: black;
  background: #FEC107;
  font-size: 20px;
  font-weight: 900;
  border: 0;
}
.button_check:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
  cursor: pointer;
}

.fa-heart:hover {
  cursor: pointer;
  animation: pulse 1s forwards;
}

.button_update {
  box-shadow: 0 0 20px grey;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  color: black;
  background: #FEC107;
  font-size: 20px;
  font-weight: 900;
  border: 0;
}
.button_update:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
  cursor: pointer;
}

.button_delete {
  box-shadow: 0 0 20px grey;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  color: #fff;
  background: #C82B32;
  font-size: 20px;
  font-weight: 900;
  border: 0;
}
.button_delete:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slider__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  top: 0%;
  left: 0;
  right: auto;
  overflow: hidden;
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: 0% 50%;
  transition-delay: 450ms;
  opacity: 0;
}
.slider__wrap--hacked {
  opacity: 1;
}
.slider__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: none;
  transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-size: auto 133.3333%;
  background-position: center;
  background-repeat: none;
  transform: scale(0.75);
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
  opacity: 0;
  box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
  padding: 15vh;
  box-sizing: border-box;
}
.slider__content {
  position: relative;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  transition: opacity 450ms;
}
.slider__content h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 0.85;
  margin-bottom: 0.75vh;
  pointer-events: none;
  text-shadow: 0 0.375vh 0.75vh rgba(0, 0, 0, 0.1);
}
.slider__content a {
  cursor: pointer;
  font-size: 2.4vh;
  letter-spacing: 0.3vh;
  font-weight: 100;
  position: relative;
}
.slider__content a:after {
  content: "";
  display: block;
  width: 9vh;
  background: white;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 6vh;
  transform: translateY(-50%);
  transform-origin: 0% 50%;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__content a:before {
  content: "";
  border-top: 1px solid white;
  border-right: 1px solid white;
  display: block;
  width: 1vh;
  height: 1vh;
  transform: translateX(0) translateY(-50%) rotate(45deg);
  position: absolute;
  font-weight: 100;
  top: 50%;
  left: 15vh;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__content a:hover:after {
  transform: scaleX(1.5);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__content a:hover:before {
  transform: translateX(6vh) translateY(-50%) rotate(45deg);
  transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__slide {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100vw;
  transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 600ms;
  pointer-events: none;
  z-index: 0;
}
.slider__slide--active {
  transform: translatex(0%);
  z-index: 2;
}
.slider__slide--active .slider__wrap {
  transform: translateX(0);
  transform-origin: 100% 50%;
  opacity: 1;
  animation: none;
}
.slider__slide--active .slider__back {
  filter: blur(1.5vh);
  transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 900ms !important;
}
.slider__slide--active .slider__inner {
  transform: scale(0.8);
  box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  opacity: 1;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
  transition-delay: 900ms;
}
.slider__slide--active .slider__content {
  opacity: 1;
  transition-delay: 1350ms;
}
.slider__slide:not(.slider__slide--active) .slider__wrap {
  animation-name: hack;
  animation-duration: 900ms;
  animation-delay: 450ms;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  51% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  52% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
.slider__slide:nth-child(1) .slider__back, .slider__slide:nth-child(1) .slider__inner {
  background-image: url(../img/slider_3.jpg);
}
.slider__slide:nth-child(2) .slider__back, .slider__slide:nth-child(2) .slider__inner {
  background-image: url(../img/slider_2.jpg);
}
.slider__slide:nth-child(3) .slider__back, .slider__slide:nth-child(3) .slider__inner {
  background-image: url(../img/slider_1.jpg);
}

.sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
  z-index: 9999;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

input {
  border: 1px solid #848484;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: 0;
  height: 25px;
  width: 275px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
*/
#menuToggle {
  margin-left: 50px;
  position: relative;
  z-index: 50;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  margin-left: 20px;
  text-decoration: none;
  color: #FEC107;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #C82B32;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul {
  transform: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#nav_menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  background: #19233C;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  flex-direction: column;
}
#nav_menu li {
  padding: 30px 0;
  font-size: 22px;
}

header {
  background: #19233C;
  height: 120px;
  margin-bottom: 70px;
  box-shadow: 0 8px 6px -6px black;
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #FEC107;
  margin-bottom: 40px;
  font-size: 20px;
}
header h1 span {
  color: #C82B32;
  font-size: 20px;
}
header #logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FEC107;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}
header .admin_button {
  float: right;
  margin-right: 50px;
  color: #C82B32;
}

footer {
  background: #19233C;
  color: #fff;
  padding: 20px;
  display: flex;
}

#home {
  margin: 0 20px 0 20px;
  display: grid;
  gap: 30px 10px;
  grid-template-areas: "order_section" "tutorial_section" "promotion_section" "delivery_section" "menu_section" "social_section";
}

#main_menu {
  margin: 0 20px 0 20px;
  display: grid;
  grid-template-areas: "menu_section";
}

#menu {
  margin-top: 0px;
  position: relative;
  z-index: 1;
  background: #19233C;
  color: #fff;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  #menu form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "starter main-dish dessert" "button button button";
  }
}
#menu #starter {
  grid-area: starter;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu #main-dish {
  grid-area: main-dish;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu #main-dish select {
  visibility: hidden;
}
#menu #dessert {
  grid-area: dessert;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu #dessert select {
  visibility: hidden;
}
#menu fieldset {
  border: 0;
}
#menu h2 {
  margin-left: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
}
#menu legend {
  margin-left: 4px;
  position: relative;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
#menu legend:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 70%;
  border-bottom: 3px solid #FEC107;
}
#menu .button_check {
  grid-area: button;
  max-width: 50%;
  margin-top: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu .box_menu {
  position: relative;
  margin: 20px 0 0 0;
  height: 120px;
  background: #fff;
  color: black;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0px 0px 15px 1px #929292;
}
#menu .box_menu .size_select {
  display: flex;
}
#menu .box_menu label {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 2.2fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "img title price" "img desc price" "img desc price";
}
#menu .box_menu label .img_dish {
  width: 90px;
  max-width: none;
  grid-area: img;
}
#menu .box_menu label .title {
  grid-area: title;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu .box_menu label .desc {
  grid-area: desc;
  margin-left: 10px;
  margin-top: -34px;
  font-size: 13px;
}
#menu .box_menu label .check_container {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 20px;
  font-weight: bold;
  transition: all 0.69s linear;
  margin-bottom: 20px;
  margin-top: -23px;
}
#menu .box_menu label .check {
  height: 100%;
  width: 0px;
  margin-left: 10px;
  background: #FEC107;
  visibility: hidden;
  transition: width 1s;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .box_menu label .check .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #C82B32;
}
#menu .box_menu input[type=checkbox] {
  display: none;
}
#menu .box_menu input[type=checkbox]:checked + label .price {
  right: 75px;
}
#menu .box_menu input[type=checkbox]:checked + label .check {
  visibility: visible;
  width: 70px;
}
#menu .box_menu input[type=checkbox]:checked + label .check .fa-check {
  animation: spin 0.6s linear forwards;
}
#menu p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: bold;
}
#menu .order_resume {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
#menu .order_resume .element_order_resume {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
#menu .order_resume .element_order_resume button {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
#menu .order_resume .element_order_resume input {
  width: 50px;
}
#menu .order_resume .element_order_resume img {
  width: 150px;
}

.btn {
  background: #FEC107;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 0;
  margin: 10px;
  transition: background 0.2s ease-in;
  cursor: pointer;
}

.btn-save:hover {
  background: #19233C;
  color: #fff;
}

.form-section {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  flex-shrink: 0;
  font-size: 14px;
  padding: 40px;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.form-row .form-input {
  flex-basis: 70%;
  flex-shrink: 0;
}
.form-row .form-input > input {
  width: 100%;
  border: 1px solid #f5f8f9;
  background-color: #f5f8f9;
  padding: 10px;
  transition: all 0.2s ease-in;
}
.form-row .form-input > input:focus {
  outline: 0;
  border: 1px solid #FEC107;
}
.form-row .form-input > input:focus::placeholder {
  opacity: 0;
}
.form-row .form-title {
  flex-basis: 30%;
  flex-shrink: 0;
}

.section-cta {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-input .form-options {
  display: flex;
}

.form-options .from-option {
  display: flex;
  align-items: center;
}
.form-options .from-option span {
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--gray-color);
  padding: 10px;
  position: relative;
  transition: all 0.2s ease-in;
}
.form-options .from-option span i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.form-options .from-option input[type=radio] {
  display: none;
}
.form-options .from-option input[type=radio]:checked + span {
  background: #FEC107;
}
.form-options .from-option label {
  cursor: pointer;
  margin: 0 4px;
}

#password_lost {
  color: #C82B32;
}
#password_lost:visited {
  color: #C82B32;
}

#admin_panel {
  margin-top: -70px;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#admin_panel .cardContainer {
  display: flex;
  flex-direction: column;
  color: #FEC107;
  font-family: sans-serif;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  height: 200px;
  width: 300px;
  margin: 20px;
}
#admin_panel .cardContainer .icon {
  text-align: center;
  background-color: #333;
  height: 200px;
  width: 300px;
  list-style: none;
}
#admin_panel .cardContainer .icon i {
  text-shadow: 0 1px 2px #C82B32;
  font-size: 90px;
  margin-top: 20px;
  margin-bottom: 0;
}
#admin_panel .cardContainer .icon span {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  font-size: 30px;
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
}

#admin_background {
  margin-top: -70px;
  padding-top: 60px;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#admin_background h2 {
  margin-left: 20px;
}
#admin_background #section_product {
  background: #676E80;
  margin-bottom: 20px;
}
#admin_background #update_product_popup {
  color: #fff;
}
#admin_background #update_product_popup .form-row {
  width: 280px;
}

#delivery {
  grid-area: delivery_section;
}
#delivery ul li {
  background: #676E80;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 1px #a8a8a8;
  font-size: 18px;
  font-weight: bold;
}

#home_menu {
  grid-area: menu_section;
  background: #676E80;
  margin-left: -20px;
  margin-right: -20px;
}
#home_menu h2 {
  margin: 20px;
  color: #fff;
}
#home_menu #menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home_menu #menu_container a {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
  margin-bottom: 15px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 2px 5px 15px 1px #474747;
}
#home_menu #menu_container a img {
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}
#home_menu #menu_container a p {
  padding: 12px;
  font-size: 23px;
  font-weight: 900;
}
#home_menu #menu_container a:visited {
  color: black;
}

#order {
  grid-area: order_section;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: 245px;
  background: #676E80;
  box-shadow: 0px 21px 46px -13px rgba(0, 0, 0, 0.66);
}
#order form {
  padding: 20px;
}
#order form .toggle_radio {
  position: relative;
  background: #19233C;
  margin: 4px auto;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 35px;
  width: 232px;
}
#order form .toggle_radio > * {
  float: left;
}
#order form .toggle_radio input[type=radio] {
  display: none;
}
#order form .toggle_radio label {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 110px;
  height: 30px;
  margin: 5px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#order form .toggle_option_slider {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#order form #delivery:checked ~ .toggle_option_slider {
  border: solid #FEC107;
  left: 3px;
}
#order form #take_away:checked ~ .toggle_option_slider {
  border: solid #C82B32;
  left: 109px;
}
#order form button {
  background-color: #FEC107;
  /* Green */
  border: none;
  color: black;
  padding: 5px 15px;
  border: solid 2px #C82B32;
  width: auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 30px;
}
#order form .bloc_number {
  background: #C82B32;
  width: auto;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#order form .bloc_number span {
  font-size: 15px;
  font-weight: initial;
}

#promotion {
  grid-area: promotion_section;
}
#promotion h2 {
  margin-bottom: 20px;
}

#social {
  grid-area: social_section;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#social h2 {
  margin-bottom: 20px;
}
#social img {
  width: 150px;
  margin-bottom: 25px;
}

#tutorial {
  grid-area: tutorial_section;
}
#tutorial ol {
  position: relative;
  counter-reset: puce;
}
#tutorial ol li {
  counter-increment: puce;
  background: #676E80;
  color: #fff;
  padding: 16px 16px 16px 30px;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 1px #a8a8a8;
}
#tutorial ol li::before {
  content: counter(puce);
  position: absolute;
  background: #FEC107;
  left: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#historic {
  margin: 20px;
}
#historic h2 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
