#admin_panel{
    margin-top: -70px;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;

    .cardContainer {
        display: flex; 
        flex-direction: column;
        color: $color-secondary;
        font-family: sans-serif;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        height:200px;
        width: 300px;
        margin: 20px;

        
        .icon{
            text-align: center;
            background-color: #333;
            height: 200px;
            width: 300px;
            list-style: none;

            i {
                text-shadow: 0 1px 2px $color-tiertiary;
                font-size: 90px;
                margin-top: 20px;
                margin-bottom: 0;
            }

            span {
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                margin-top: 10px;
                font-size: 30px;
                display: block;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }
    }
}










