
#home{
    margin: 0 20px 0 20px;
    display: grid;
    gap: 30px 10px;
    grid-template-areas:    "order_section" 
                            "tutorial_section"
                            "promotion_section"
                            "delivery_section"
                            "menu_section"
                            "social_section";   
}




