#main_menu{
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-areas:    "menu_section";   
}
// start menu
#menu {
    margin-top: 0px;
	position: relative;
	z-index: 1;
    background: $color-primary;
    color: #fff;
	border-radius: 50px 50px 0 0;
	display: flex;
	flex-direction: column;
  
	@media (min-width: 1024px) {
	  form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
		  'starter main-dish dessert'
		  'button button button';
	  }
	}
  
	// animation each main-dish
	#starter { 
	  grid-area: starter;
  
	  animation-name: fadeIn;
	  animation-delay: 0s;
	  animation-duration: 2s;
	  animation-iteration-count: 1;
	  opacity: 0;
	  animation-fill-mode: forwards;
	}
	#main-dish {
	  grid-area: main-dish;
  
	  animation-name: fadeIn;
	  animation-delay: 0.5s;
	  animation-duration: 2s;
	  animation-iteration-count: 1;
	  opacity: 0;
	  animation-fill-mode: forwards;

	  select{
		  visibility: hidden;
	  }
	}
	#dessert {
	  grid-area: dessert;
  
	  animation-name: fadeIn;
	  animation-delay: 1s;
	  animation-duration: 2s;
	  animation-iteration-count: 1;
	  opacity: 0;
	  animation-fill-mode: forwards;
		
	  select{
		  visibility: hidden;
	  }
	}
  
	fieldset {
	  border: 0;
	}
  
	h2 {
	  margin-left: 20px;
	  padding-top: 30px;
	  margin-bottom: 30px;
	  font-weight: 300;
	}
  
	legend {
	  margin-left: 4px;
	  position: relative;
	  padding-bottom: 5px;
	  font-size: 18px;
	  font-weight: bold;
	  &:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 70%;
		border-bottom: 3px solid $color-secondary;
	  }
	}
  
	.button_check {
	  grid-area: button;
	  max-width: 50%;
	  margin-top: 50px;
	  position: relative;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  
	// cardbox dishes
	.box_menu {
	  position: relative;
	  margin: 20px 0 0 0;
	  height: 120px;
      background: #fff;
      color: black;
	  border-radius: 15px;
	  font-size: 16px;
      box-shadow: 0px 0px 15px 1px rgb(146, 146, 146);
      
      .size_select{
          display: flex;
      }
  
	  label {
		display: grid;
		height: 100%;
		grid-template-columns: 0.5fr 2.2fr 0.3fr;
		grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
		  'img title price'
          'img desc price'
          'img desc price';
          
        .img_dish{
            width: 90px;
            max-width: none;
            grid-area: img;
        }
  
		.title {
		  grid-area: title;
  
		  font-size: 16px;
		  font-weight: bold;
  
		  margin-left: 10px;
  
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
  
		.desc {
		  grid-area: desc;
  
          margin-left: 10px;
          margin-top: -34px;
            font-size: 13px;
		}
  
		.check_container {
		  grid-area: price;
  
		  display: flex;
		  justify-content: flex-end;
		  align-items: flex-end;
  
		  padding-left: 20px;
		  font-weight: bold;
  
          transition: all 0.69s linear;
          
          margin-bottom: 20px;
          margin-top: -23px;

		}
  
		.check {
		  height: 100%;
		  width: 0px;
  
		  margin-left: 10px;
  
		  background: $color-secondary;
  
		  visibility: hidden;
  
		  transition: width 1s;
  
		  border-radius: 0 15px 15px 0;
  
		  display: flex;
		  justify-content: center;
		  align-items: center;
  
		  .fa-check {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			color: $color-tiertiary;
		  }
		}
	  }
  
	  	// Animation on check dish
		input[type='checkbox'] {
			display: none;
  
			&:checked {
				+ {
					label {
						.price {
							right: 75px;
						}
	
						.check {
							visibility: visible;
							width: 70px;
	
							.fa-check {
								animation: spin 0.6s linear forwards;
							}
						}
					}
				}
			}
	  	}
	}



	p{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		font-size: 18px;
		font-weight: bold;
	}



	.order_resume{
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 10px;

		.element_order_resume{
			background: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: black;

			button{
				margin: 0;
				padding: 0;
				margin-bottom: 20px;
				margin-top: 10px;
			}

			input{
				width:50px;
			}


			img{
				width: 150px;
			}
		}
	}
}
  