#admin_background{
    margin-top: -70px;
    padding-top: 60px;
    background: #333;

    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2{
        margin-left: 20px;
    }

    #section_product{
        background: $color-primary_light;
        margin-bottom: 20px;
    }

    #update_product_popup{
        color: #fff;

        .form-row{
            width: 280px;
        }
    }

}