#social{
    grid-area: social_section;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    h2{
        margin-bottom: 20px;
    }

    img{
        width: 150px;
        margin-bottom: 25px;
    }
}