#order{
    grid-area: order_section;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 245px;
    background: $color-primary_light;
    box-shadow: 0px 21px 46px -13px rgba(0,0,0,0.66);

    form{
        padding: 20px;

        .toggle_radio {
            position: relative;
            background: $color-primary;
            margin: 4px auto;
            margin-bottom: 15px;
            overflow: hidden;
            padding: 0 !important;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            position: relative;
            height: 35px;
            width: 232px;
        }
        .toggle_radio > * {
            float: left;
        }
        .toggle_radio input[type=radio] {
            display: none;
        }
        .toggle_radio label {
            color: rgba(255, 255, 255, .9);
            display: block;
            width: 110px;
            height: 30px;
            margin: 5px 3px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            cursor: pointer;
       
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
        .toggle_option_slider {
            width: 120px;
            height: 30px;
            position: absolute;
            top: 3px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            -ms-transition: all .4s ease;
            transition: all .4s ease;
        }
        #delivery:checked ~ .toggle_option_slider {
            border: solid $color-secondary;
            left: 3px;
        }
        #take_away:checked ~ .toggle_option_slider {
            border: solid $color-tiertiary;
            left: 109px;
        }


        button {
            background-color: $color-secondary; /* Green */
            border: none;
            color: black;
            padding: 5px 15px;
            border: solid 2px $color-tiertiary;
            width: auto;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-bottom: 30px;
          }

        .bloc_number{
                background: $color-tiertiary;
                width: auto;
                padding: 15px;

                font-size: 18px;
                font-weight: bold;

                text-align: center;

            span{
                font-size: 15px;
                font-weight:initial;
            }
        }
    }
}