#tutorial{
    grid-area: tutorial_section;

    ol{
        position: relative;
        counter-reset: puce;
        
        li{
            counter-increment: puce;
            background: $color-primary_light;
            color: #fff;
            padding: 16px 16px 16px 30px;
            height: 50px;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 2px 5px 15px 1px rgba(168,168,168,1);

            &::before {
                content: counter(puce);
                position: absolute;
                background: $color-secondary;
                left: -10px; 
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }
}