#home_menu{
    grid-area: menu_section;
    background: $color-primary_light;
    margin-left: -20px;
    margin-right: -20px;

    h2{
        margin: 20px;
        color: #fff;
    }


    #menu_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  

        a{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            color: black;
            margin-bottom: 15px;
            width: 350px;
            border-radius: 25px;
            box-shadow: 2px 5px 15px 1px rgb(71, 71, 71);

            img {
                border-radius: 25px 25px 0px 0px;
                object-fit: cover;
                width: 100%;
                height: 120px;
            }

            p{
                padding:12px;
                font-size: 23px;
                font-weight: 900;
            }

            &:visited{
                color: black;
            }
        }
    }
}