#delivery{
    grid-area: delivery_section;

    ul{
        li{
            background: $color-primary_light;
            color: #fff;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 2px 5px 15px 1px rgba(168,168,168,1);
            font-size: 18px;
            font-weight: bold;
        }
    }

}