.btn {
	background: $color-secondary;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 0;
	margin: 10px;
	transition: background 0.2s ease-in;
	cursor: pointer;
}
.btn-save {
	&:hover {
		background: $color-primary;
		color: #fff;
	}
}
.form-section {
	display: flex;
	flex-direction: column;
	flex-basis: 65%;
	flex-shrink: 0;
	font-size: 14px;
	padding: 40px;
}
.form-row {
	display: flex;
	align-items: center;
	margin: 10px 0;
	.form-input {
		flex-basis: 70%;
		flex-shrink: 0;
		>input {
			width: 100%;
			border: 1px solid #f5f8f9;
			background-color: #f5f8f9;
			padding: 10px;
			transition: all 0.2s ease-in;
			&:focus {
				outline: 0;
				border: 1px solid $color-secondary;
				&::placeholder {
					opacity: 0;
				}
			}
		}
	}
	.form-title {
		flex-basis: 30%;
		flex-shrink: 0;
	}
}
.section-cta {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.form-input {
	.form-options {
		display: flex;
	}
}
.form-options {
	.from-option {
		display: flex;
		align-items: center;
		span {
			padding: 10px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: var(--gray-color);
			padding: 10px;
			position: relative;
			transition: all 0.2s ease-in;
			i {
				position: absolute;
				transform: translate(-50%,-50%);
				top: 50%;
				left: 50%;
			}
		}
		input[type="radio"] {
			display: none;
			&:checked {
				+ {
					span {
						background: $color-secondary;
					}
				}
			}
		}
		label {
			cursor: pointer;
			margin: 0 4px;
		}
	}
}

#password_lost{
    color: $color-tiertiary;

    &:visited{
        color: $color-tiertiary;
    }
}
