header {
	background: $color-primary;
	height: 120px;
	margin-bottom: 70px;
	box-shadow: 0 8px 6px -6px black;

	h1{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		justify-content: space-between;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;	
		color: $color-secondary;	
		margin-bottom: 40px;
		font-size: 20px;

		span{
			color: $color-tiertiary;
			font-size: 20px;
		}
	}


	#logo{
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 13%;
		left: 50%;
		transform: translate(-50%, -50%);

		background:$color-secondary;
		width: 100px;
		height: 100px;

		border-radius: 50px;
		text-align: center;
		box-shadow: 0 8px 6px -6px black;
	}


	.admin_button{
		float: right;
		margin-right: 50px;
		color: $color-tiertiary;
	}

}
