.button_check {
    box-shadow: 0 0 20px grey;
    border-radius: 50px;
    height: 50px;
    width: 230px;
    color: black;
    background: $color-secondary;
    font-size: 20px;
    font-weight: 900;
    border: 0;

    &:hover{
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
        cursor: pointer;
    }
}

.fa-heart {
    &:hover{
        cursor: pointer;
        animation: pulse 1s forwards;
    }
}


.button_update{
    box-shadow: 0 0 20px grey;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    color: black;
    background: $color-secondary;
    font-size: 20px;
    font-weight: 900;
    border: 0;

    &:hover{
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
        cursor: pointer;
    }
}


.button_delete{
    box-shadow: 0 0 20px grey;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    color: #fff;
    background: $color-tiertiary;
    font-size: 20px;
    font-weight: 900;
    border: 0;

    &:hover{
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px grey;
        cursor: pointer;
    }
}
