/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
*/
  #menuToggle {
    margin-left: 50px;
	position: relative;
	z-index: 50;
	-webkit-user-select: none;
	user-select: none;
	a {
        margin-left: 20px;
		text-decoration: none;
		color: $color-secondary;
		transition: color 0.3s ease;
		&:hover {
			color: tomato;
		}
	}
	input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		&:checked {
			~ {
				span {
					opacity: 1;
					transform: rotate(45deg) translate(-2px, -1px);
					background: $color-tiertiary;
					&:nth-last-child(3) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}
					&:nth-last-child(2) {
						transform: rotate(-45deg) translate(0, -1px);
					}
				}
				ul {
					transform: none;
				}
			}
		}
	}
	span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
		&:first-child {
			transform-origin: 0% 0%;
		}
		&:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
	}
}
#nav_menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding-top: 125px;
	background: $color-primary;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    display: flex;
    flex-direction: column;
	li {
		padding: 30px 0;
		font-size: 22px;
	}
}