@keyframes expand {
	0% {
	  transform: scale(2);
	}
	25% {
	  transform: scale(4);
	}
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes spin { 
    0%{		
      opacity:0;
    }
    100% { 
        opacity: 1;
        transform:rotate(-360deg); 
    } 
}
