:root {
    font-size: 14px;
}

body,h1,h2,h3,h3,h5 {
	font-family: "Hero", Times, serif;
}

.huge_title{
    font-size: 30px;
}

a:visited{
    color: #fff;
}


@font-face {
    font-family: "Hero";
    src: url("../../fonts/Hero.otf") format("truetype");
  }