@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Shrikhand";
	src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
}